<!-- <h1>
  Welcome to the Website!
</h1> -->

<app-header></app-header>

<router-outlet></router-outlet>

<!-- <div class="main-container">
  <div class="scroll-container">
    <div class="step-section" [ngClass]="{'active': activeSection === 1}" pageScroll
      (click)="fullPageScroll(section1, 1)">
      <div class="vertical-nav">
        <div class="circle"></div>
      </div>
    </div>
    <div class="step-section" [ngClass]="{'factive': activeSection === 2}" pageScroll
      (click)="fullPageScroll(section2, 2)">
      <div class="vertical-nav">
        <div class="circle"></div>
      </div>
    </div>
    <div class="step-section" [ngClass]="{'active': activeSection === 3}" pageScroll
      (click)="fullPageScroll(section3, 3)">
      <div class="vertical-nav">
        <div class="circle"></div>
      </div>
    </div>
    <div class="step-section" [ngClass]="{'active': activeSection === 4}" pageScroll
      (click)="fullPageScroll(section4, 4)">
      <div class="vertical-nav">
        <div class="circle"></div>
      </div>
    </div>
    <div class="step-section" [ngClass]="{'active': activeSection === 5}" pageScroll
      (click)="fullPageScroll(section5, 5)">
      <div class="vertical-nav">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div #section1 class="scroll-outer">
    <div class="card-container">
      <h3>Section 1</h3>
    </div>
  </div>
  <div #section2 class="scroll-outer">
    <div class="card-container">
      <h3>Section 2</h3>
    </div>
  </div>
  <div #section3 class="scroll-outer">
    <div class="card-container">
      <h3>Section 3</h3>
    </div>
  </div>
  <div #section4 class="scroll-outer">
    <div class="card-container">
      <h3>Section 4</h3>
    </div>
  </div>
  <div #section5 class="scroll-outer">
    <div class="card-container">
      <h3>Section 5</h3>
    </div>
  </div>
</div>

<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
  <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
</cdk-virtual-scroll-viewport> -->

