
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" routerLink="/cafetariaadmin" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" routerLink="/cafetariaadmin" >Action</a>
        <a class="dropdown-item" routerLink="/cafetariaadmin" >Another action</a>
        <a class="dropdown-item" routerLink="/cafetariaadmin" >Something else here</a>
    </div>
</div>