

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollbar</title>
</head>
<body>
    
    <div class="scroll-bag">
        <div class="scroll-div">
            <div class="scroll-object">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sit iste ratione recusandae magni illo doloremque aliquam quibusdam suscipit earum et facere, odit dolorem, deleniti officiis ab aspernatur eligendi, non praesentium labore. Quo ipsa, qui aspernatur cumque ut in id tenetur ducimus assumenda rem esse iure voluptatum magni sapiente obcaecati quibusdam odio nobis, neque cupiditate nostrum architecto. Hic, tenetur voluptatem. Exercitationem nesciunt, repellendus sint quasi porro sapiente voluptates quae tempora et ipsa repellat labore incidunt at soluta sunt hic, quaerat in pariatur alias veritatis aut nam! Laborum sint iste eaque et assumenda aperiam fugiat id, repellendus voluptatem consequatur! Eaque, architecto!
            </div>
        </div>
    </div>

</body>
</html>

